# Ignore everything
*

# Allow only specific folders and config files
!.gitignore
!ansible/
!ansible/**
!paper-social-aws/
!paper-social-aws/**
!app/
!app/**
!.github
!.github/**

# Allow specific file types
!*.tf
!*.tfvars
!*.yaml
!*.yml
!*.json
!*.sh
!*.md

# Still ignore Terraform system files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.log
crash.log

